* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
}

.container .header-links {
  padding: 10px;
  text-align: right;
  box-sizing: border-box;

}

.container .header-links a {
  color: white;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}